body{
  background: #1E2223;
  color:#E7DBC5;
}


img {
  max-width: 100%;
}



#seccion-galeria-mdo img{
  max-width: 100%;

}

.portada-territorios{
  text-align: center;
  margin-top: 5%;
}

.titulo-territorios{
font-size: 400%;
font-family: 'Allerta Stencil', sans-serif;
margin-bottom: 2%;}

.parrafo-territorios{
  font-family: monospace;
  font-size: 120%;
}


.galeria{
  padding: 4em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.div-foto{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s;
  object-position: center;
}


.foto{
  overflow: hidden;
  border-radius: 10px;
  display:block;
  height: 1fr;
  width: 1fr;
  object-fit: cover;
  object-position: center top;
  border: solid 1px #E7DBC5;



}

.div-foto:hover{
opacity: 0.7;
}


.texto-foto:hover{
color:white;

}

.foto9{
  grid-row:span 2;
}

.foto3{

  grid-row: 3 / span 2;
}



.ampliada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 700px;
  z-index: 50;
  position: absolute;
  border-color: white;
  margin-left: auto;
  margin-bottom: 30%;
  margin-top: 5%;
  cursor: auto;
  width: 700px;
  left: 50%;
  margin-left: -350px;

}

.ampliada:hover{
  opacity: 1;
}

.botones-fotos{
  display: none;
  margin-left: auto;
  margin-top: -70px;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  width: 10%;
  border-color: #E7DBC5;
  padding: 5px;
}

.pasa-fotos{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#boton-cierra-foto{
  z-index: 55;

}


.foto-siguiente{
transform: rotate(180deg);
}

.placa-galeria{
  
  display: flex;
  align-items: center;
  font-family:  'EB Garamond', serif;
  text-align: center;
  padding: 5%;
  font-size: 120%;
}

.titulo-galeria{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 150%;

}

.titulo-fotografias{
  margin-top: 10%;
  margin-bottom: 5%;
  border: solid 2px white;
  padding: 1%;
  width: 40%;
}


@media(max-width: 1024px){
  .botones-fotos{
    margin-top: 700px;
    width: 150px;
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.2em;
  }

  .botones-fotos{
    margin-top: 400px;
 
  }

  .ampliada{
    top:0;
    width: 340px;
    margin-left: -175px;
    max-height: 500px;
  }


  .titulo-territorios{
    font-size: 250%;
  }

.galeria{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}
